body {
  background-color: brown;

}
h1{
  margin-left: 700px;
}
.main{
  height:600px;
  width: 1200px;
  background-color: antiquewhite;
  margin-left: 10%;
  display: flex;
}
.image{
  height: 600px;
  width: auto;
}
.main1{
  height: 600px;
  width: 700px;
  margin: 30px;
}